
body{
    margin:0;
    color:white;
    background-color:black;
}

.whiteFont {
    color: white;
}

.greyFontColor {
    color: rgb(129, 119, 119);
}

.smallfonts {
    font-size: 9px;
}

.cap {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.whiteFont {
    color: white;
}

.greyFontColor {
    color: rgb(129, 119, 119);
}

.smallfonts {
    font-size: 11px;
}

.cap {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}



svg { outline: 1px solid rgba(151, 149, 13, 0.637); padding:2px;width:20px;height:20px }
.currentColor{background-color: blue;}