

.currency-pair-container{
    display:flex;justify-content:space-between;
}

.ticker-row{
    display:flex;justify-content: center;margin: auto;padding-bottom: 5px;
}


.ticker-center{
    font-size:50px;
}

.ticker-rightelem{
    font-size:20px;
}
.ticker-left{
    font-size:15px;
}

.item-box {
    background-image: linear-gradient(to bottom right, rgb(103, 103, 235), rgb(66, 66, 247));
}

.mid-tick-container
{
position:relative;border-width:thick;border-color:black;z-index:2;text-align: center;top: 8px;
}
.mid-tick{
    background:black;padding:3px;color:white;
}
