.box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
}

.subitem {
    padding: 0px;
    margin: 0px;
    background-color: rgb(59, 56, 56);
}

